@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Cormorant Garamond', serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFEFD6;
  height: 100vh;
}